@model string // Optional: model = step value

<div class="input-group mb-3 step-input">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" name="step" value="@Model" id="step-@Model" />
        </div>
    </div>
    <div class="form-control">
        Step: @Model
    </div>
    <div class="input-group-append">
        <button class="btn btn-danger remove-step" type="button">
            Remove
        </button>
    </div>
</div>
