@using App.Common.Domain.Auth
@{
  var user = Context.User;
  bool isAdmin = user.IsInRole(Roles.Admin);
  bool isTodosUser = user.IsInRole(Roles.TodosUser);
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link text-center">
    <span class="brand-text font-weight-light">My Admin App</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        @if (isTodosUser)
        {
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Todos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/Todos/Dashboard" class="nav-link">
                  <i class="nav-icon fas fa-chart-pie"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/Todos/Index" class="nav-link">
                  <i class="nav-icon fas fa-list"></i>
                  <p>TodoList</p>
                </a>
              </li>
            </ul>
          </li>
        }
        @* <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                    <p>
                      Money Manager
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/MoneyManager/Index" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/Settings/Security" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Setting</p>
                      </a>
                    </li>
                  </ul>
                </li> *@
      </ul>
    </nav>
  </div>
</aside>
