@await Component.InvokeAsync("SectionHeader", "Todo")

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section id="TodoPartialView" class="col-lg-6">
                @* @await Component.InvokeAsync("TodoGroup") *@
                @await Component.InvokeAsync("LoadingCard")
            </section>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetTodoPartialView", "Todo")',
                type: 'GET',
                success: function (data) {
                    $('#TodoPartialView').html(data);
                },
                error: function () {
                    alert('Error loading partial view.');
                }
            });
        });
    </script>
}