<div class="card card-row">
    <div class="card-header">
        <h3 class="card-title">Todo List</h3>
    </div>
    <div class="card-body">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title">Create Issue template</h5>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#4</a>
                    <a href="#" class="btn btn-tool">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox1_1" disabled="">
                    <label for="customCheckbox1_1" class="custom-control-label">Bug Report</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox1_2" disabled="">
                    <label for="customCheckbox1_2" class="custom-control-label">Feature Request</label>
                </div>
            </div>
        </div>
    </div>
</div>