@using App.Web.Client.Models.ViewComponents
@model InfoBoxModel

<div class="info-box">
    <span class="info-box-icon @Model.BgColorClass elevation-1">
        <i class="@Model.IconClass"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">@Model.Title</span>
        <span class="info-box-number">@Model.Value</span>
    </div>
</div>
