@model TodoDto

<!-- Title-->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "To-Do Title",
                       Icon = "fas fa-tasks",
                       Id = "todoTitle",
                       Name = "todoTitle",
                       Type = "text",
                       Placeholder = "Enter to-do title",
                       Value = Model.Title
                   })

<!-- Due Date-->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "Due Date",
                       Icon = "fas fa-calendar-day",
                       Id = "dueDate",
                       Name = "dueDate",
                       Type = "text",
                       Placeholder = "Select due date",
                       IsInputGroup = true,
                       Value = Model.DueDate.ToShortDateString(),
                       InputGroupAppendHtml = "<div class='input-group-append'><span class='input-group-text'><i class='far fa-calendar-alt'></i></span></div>"
                   })

<!-- Assignee Section -->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "Assignee",
                       Icon = "fas fa-user",
                       Id = "assignee",
                       Name = "assignee",
                       Type = "select",
                       Options = new List<SelectListItem> {
                            new SelectListItem("John Doe", "1"),
                            new SelectListItem("Jane Smith", "2"),
                            new SelectListItem("Mike Johnson", "3")
                           }
                   })

<!-- Reminder Section -->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "Reminder",
                       Icon = "fas fa-bell",
                       Id = "reminder",
                       Name = "reminder",
                       Type = "datetime-local",
                   })

<!-- Steps Section (Dynamic Textboxes) -->
<div class="form-group">
    <label>
        <i class="fas fa-list-ul"></i> Steps
    </label>
    <div id="steps-container">
        @await Html.PartialAsync("_DynamicStep", "")
    </div>
    <button class="btn btn-primary" id="add-step" type="button">
        <i class="fas fa-plus"></i> Add Step
    </button>
</div>

<!-- File Upload Section -->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "FileUpload",
                       Icon = "fas fa-upload",
                       Id = "fileUpload",
                       Name = "fileUpload",
                       Type = "file"
                   })

<!-- Tags -->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                  {
                      Label = "Tags",
                      Icon = "fas fa-tags",
                      Id = "todoTags",
                      Name = "todoTags",
                      Type = "select",
                      Multiple = true,
                      Options = new List<SelectListItem> {
                            new SelectListItem("My Day", "My Day"),
                            new SelectListItem("Important", "Important"),
                            new SelectListItem("Work", "Work"),
                            new SelectListItem("Personal", "Personal")
                            }
                  })

<!-- Notes -->
@await Html.PartialAsync("_FormGroup", new FormGroupModel
                   {
                       Label = "Notes",
                       Icon = "fas fa-sticky-note",
                       Id = "notes",
                       Name = "notes",
                       Type = "textarea",
                   })