@{
    ViewData["Title"] = "Todo Dashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Todo Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Todo Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @{
                    ViewData["LoaderMessage"] = "Loading dashboard data...";
                }
                @await Html.PartialAsync("_LoaderPartial", "dashboardLoader")
                <div id="dashboardContent"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/todo.js"></script>
    <script>
        $(document).ready(function() {
            // Load dashboard content
            loadDashboard();
            
            // Set up navigation
            setupNavigation();
        });
        
        // Using the generic loadContent function from todo.js
        
        function loadTodoList(filter) {
            window.location.href = "/Todo/Index" + (filter ? "?filter=" + filter : "");
        }
        
        function setupNavigation() {
            // Handle sidebar navigation
            $(".nav-link").on("click", function(e) {
                var href = $(this).attr("href");
                
                // If it's a Todo section link, handle it
                if (href === "/Todo/Dashboard") {
                    e.preventDefault();
                    loadDashboard();
                    history.pushState(null, null, href);
                }
            });
        }
    </script>
}
