@{
    Layout = null;
    ViewData["Title"] = "Error";
    var code = ViewBag.StatusCode ?? 403;
    var message = ViewBag.Message as string;
}

<!DOCTYPE html>
<html>

<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/all.min.css" />

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css" />

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <!-- Full-height flex container -->
    <section class="content d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="error-page text-center">
            <h2 class="headline text-danger">@code</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

                <p>
                    @Html.Raw(message) <br />
                    You may <a href="/">return to dashboard</a> or try logging in again.
                </p>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Bundle -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE -->
    <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
</body>

</html>