<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web.UI</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.Web.UI.styles.css" asp-append-version="true" /> *@

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/all.min.css" />
    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/dist/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div class="wrapper">
        <!-- Navbar -->

        @await Html.PartialAsync("_Navbar")
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content pt-3">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        @await RenderSectionAsync("Scripts", required: false)
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Bootstrap Bundle -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Admin LTE  -->
    <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>

</html>
