<div class="col-12 col-sm-6 col-md-3">
    <div class="info-box info-box-@Model.Id">
        <span class="info-box-icon @Model.BgColorClass elevation-1">
            <i class="@Model.IconClass"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-text">@Model.Title</span>
            <span class="info-box-number">@Model.Value</span>
        </div>
    </div>
</div>
