html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}

.sidebar .nav-link {
    font-size: 0.9rem; /* Smaller font size */
}

.navbar .navbar-nav {
    font-size: 0.9rem; /* Smaller font size */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff; /* Bootstrap primary */
    color: #fff;
    border: none;
    padding: 2px 8px;
    font-size: 0.9rem;
}

.task-title:hover {
    text-decoration: underline;
    cursor: pointer;
} 